<div id="<%= dom_id adoption %>">
  <p>
    <strong>Name:</strong>
    <%= adoption.name %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= adoption.breed %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= adoption.age %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= adoption.details %>
  </p>

</div>
